<header>
    <nav>
        <ul>
            <li><a href="/#cursos">Cursos</a></li>
            <li><a href="/#sobre">Sobre Mim</a></li>
            <li><a href="/#galeria">Galeria</a></li>
            <li><a href="/#comunidade">Comunidade</a></li>
            <li><a href="/#faq">Perguntas</a></li>
        </ul>
        <ul>
            <li><a href="{{ env.app_url }}/login" role="button">Entrar</a></li>
            <li><a href="{{ env.app_url }}/criar-conta" role="button">Criar Conta</a></li>
        </ul>
    </nav>
</header>