html {
    /*font-size: 16px;*/
}

@media (min-width: 767px) {    
    section {
        max-width: 1440px;
        margin: auto;
    }
    
    .row, .col {
        display: flex;
    }    

    .row {
        justify-content: space-between;
    }
}

