name: Deploy
on: 
  workflow_dispatch:
  push:
  repository_dispatch:
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - uses: pnpm/action-setup@v4
      - run: pnpm install --frozen-lockfile
      - run: pnpm --filter site build
      - uses: peaceiris/actions-gh-pages@v4
        with:
          external_repository: bobartelie/site
          publish_dir: site/_site
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
